<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/style.css" >
    <title>Informations personnelles</title>
</head>
<body>
    <div class ="page">
    <h2>Informations personnelles</h2>
   <div class = "form">
    <p><strong>Nom : </strong>{{.Nom}}</p>
    <p><strong>Prénom : </strong>{{.Prenom}}</p>
    <p><strong>Date de naissance : </strong>{{.Anniversaire}}</p>
    <p><strong>Sexe : </strong>{{.Sexe}}</p>
</div>
</div>
</body>
</html>